<!DOCTYPE HTML>
<html>
    <head>
        
    </head>
    <body>
        <p>Tu as recu un mail de ton site en ruby. ce mail est de  <%= "#{@name}, #{@email}." %></p>
        <p>Voici ce qu'il vous dit :</p>
        <p><%= @body %></p>
    </body>
</html>